@use "../variables" as *;
@use "../mixins" as *;

.album {
    .content {
        width: 100%;
        .head {
            width: 100%;
            aspect-ratio: 500 / 355;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.186), rgba(0, 0, 0, 0.135), rgba(0, 0, 0, 0.244)),url('../../assets/images/album_head.webp') no-repeat center / cover;
            display: flex;
            justify-content: end;
            align-items: center;
            flex-direction: column;
            padding: 5%;
            h2 {
                font-family: $blushing-rose-font;
                font-size: 45px;
                font-weight: 300;
                text-transform: uppercase;
                color: white;
            }
            .dots-img {
                width: 15%;
                height: auto;
            }
        }
        .photos {
            width: 100%;
            aspect-ratio: 500 / 700;
            background: url('../../assets/images/location_bg.png') no-repeat center / cover;
            display: grid;
            /* Chia làm 3 cột bằng nhau */
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(17, 1fr);
            /* Khoảng cách giữa các ô */
            grid-gap: 10px;
            /* Tự động tạo hàng dựa trên nội dung */
            grid-auto-rows: 100px;

            .photo {
                margin: 10% 0;
                background-color: transparent;
                transition: transform 0.3s ease;
                width: 100%;
                height: 100%;
                perspective: 1000px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .photo:hover {
                transform: scale(0.98);
            }

            .photo1 {
                grid-column: 1 / 2;
                grid-row: 1 / 7;
            }
            .photo4 {
                grid-column: 1 / 2;
                grid-row: 7 / 13;
            }
            .photo7 {
                grid-column: 1 / 2;
                grid-row: 13 / 18;
            }
    
            .photo2 {
                grid-column: 2 / 3;
                grid-row: 1 / 5;
            }
            .photo5 {
                grid-column: 2 / 3;
                grid-row: 5 / 11;
            }
            .photo8 {
                grid-column: 2 / 3;
                grid-row: 11 / 18;
            }
    
            .photo3 {
                grid-column: 3 / 4;
                grid-row: 1 / 6;
            }
            .photo6 {
                grid-column: 3 / 4;
                grid-row: 6 / 12;
            }
            .photo9 {
                grid-column: 3 / 4;
                grid-row: 12 / 18;
            }
        }
        
        .swiper {
            width: 100%;
            height: 100%;
            overflow: unset;
            margin-top: 10%;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .swiper-button-next,
            .swiper-button-prev {
                color: white;
            }

            .swiper-pagination-bullet {
                max-width: 16px;
                height: unset;
                aspect-ratio: 16 / 16;
                width: 100%;
                z-index: 9999;
            }

            .swiper-pagination-bullet-active {
                background: rgb(255, 255, 255);
            }

            // .swiper-horizontal>.swiper-pagination-bullets, 
            // .swiper-pagination-bullets.swiper-pagination-horizontal, 
            // .swiper-pagination-custom, 
            // .swiper-pagination-fraction {
            //     bottom: var(--swiper-pagination-bottom, -6%);
            // }

            .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
            .swiper-pagination-horizontal.swiper-pagination-bullets 
            .swiper-pagination-bullet {
                margin: 0 1.3%;
            }
        }

        .album-swiper {
            .swiper-slide {
                width: 100%;
                aspect-ratio: 500 / 820;
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .head {
                h2 {
                    font-size: calc((45 / 500) * 100vw);
                }
            }
            .swiper {
                .swiper-button-next:after, 
                .swiper-button-prev:after {
                    font-size: calc((44 / 500) * 100vw);
                }

                .swiper-pagination-bullet {
                    max-width:  calc((16 / 500) * 100vw);
                }
            }
        }
    }
}

