@use "../variables" as *;
@use "../mixins" as *;

.invitation {
    .content {
        font-family: $blushing-rose-font;
        width: 100%;
        font-weight: 300;
        .image-box {
            color: white;
            padding-bottom: 15%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            width: 100%;
            aspect-ratio: 500 / 789;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.135), rgba(0, 0, 0, 0.303)),
                url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/tuan-huong/photos/image.webp') no-repeat center / cover;

            h2 {
                font-family: $blushing-rose-font;
                font-size: 40px;
                font-weight: 100;
                text-transform: uppercase;
            }

            p.subtext, p.date {
                font-size: 20px;
                text-transform: uppercase;
            }

            p.date {
                margin-top: 2%;
            }
        }
        .text-box {
            font-family: $gothamLight-font;
            font-weight: 300;
            padding: 5%;
            text-align: left;
            line-height: 1.3;
            background: url('../../assets/images/hoa1-07.png') no-repeat top left / 40%, url('../../assets/images/ivitation_bg.png') no-repeat center / cover;

            .logo {
                @include flex-center;
                img {
                    width: 20%;
                    height: auto;
                }
            }
            
            .invitation-text {
                text-transform: uppercase;
                text-align: center;
            }

            .parents-section {
                margin: 10% 5%;
                display: flex;
                justify-content: space-between;
                .family-side {
                    text-align: center;
                    .family-title{
                        font-family: $gotham-font;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 15px;
                    }
                }
                .divider {
                    img {
                        width: 40px;
                        height: auto;
                    }
                }
            }

            .couple-names {
                @include flex-center;
                flex-direction: column;
                .name {
                    font-family: $blushing-rose-font;
                    font-size: 30px;
                    font-weight: 300;
                    color: $primary-color;
                }
                .ampersand {
                    font-family: $heavenly-font;
                    font-size: 20px;
                    margin: 5%;
                }
                p.label {
                    font-style: italic;
                    font-size: 13px;
                    margin: 3% 0;
                }
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .image-box {
                h2 {
                    font-size: calc((40 / 500) * 100vw);
                }
    
                p.subtext, p.date {
                    font-size: calc((20 / 500) * 100vw);
                }
            }
            .text-box {
                .parents-section {
                    .family-side {
                        .family-title{
                            font-size: calc((15 / 500) * 100vw);
                        }
                    }
                    .divider {
                        img {
                            width: calc((24 / 500) * 100vw);
                        }
                    }
                }
    
                .couple-names {
                    .name {
                        font-size: calc((30 / 500) * 100vw);
                    }
                    .ampersand {
                        font-size: calc((20 / 500) * 100vw);
                    }
                    p.label {
                        font-size: calc((13 / 500) * 100vw);
                    }
                }
            }

        }
    }
}
