@use "../variables" as *;
@use "../mixins" as *;

.qrcode {
    width: 100%;
    .content {
        width: 100%;
        text-align: left;
        font-family: "1FTVBlushingRose", sans-serif;

        .top-img {
            width: 100%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.179), rgba(0, 0, 0, 0.526)),
                        url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/tuan-huong/image_wish.webp') no-repeat 100% 45% / cover;
            aspect-ratio: 500 / 216;
            display: flex;
            justify-content: flex-start;
            align-items: end;

            h2 {
                font-size: 55px;
                font-family: $blushing-rose-font;
                font-weight: 300;
                text-transform: uppercase;
                color: #ffffffa0;
                margin-left: 4%;
            }
        }

        .box-main {
            background: url('../../assets/images/hoa3-07.png') no-repeat top right / 50%,
                        url('../../assets/images/hoa6-07.png') no-repeat bottom / 55%,
                        url('../../assets/images/rsvp_bg.png') no-repeat center / cover;
            padding: 5%;
            .logo {
                margin-bottom: 5%;
                img {
                    width: 20%;
                    height: auto;
                }
            }

            .subtitle {
                font-family: 10px;
                font-family: $gothamLight-font;
                text-transform: uppercase;
            }
            .title {
                font-size: 13px;
                font-family: $gotham-font;
                font-weight: bold;
                text-transform: uppercase;
                margin-top: 2%;
            }

            .qr-block {
                display: flex;
                justify-content: center;
                gap: 20px;
                margin-top: 5%;
                .qr {
                    img {
                        width: 100px;
                        height: auto;
                        border: 1px solid black;
                    }
                }
                .bank-info {
                    font-family: $gotham-font;
                    font-size: 11px;
                    display: flex;
                    justify-content: center;
                    text-align: left;
                    flex-direction: column; 
                    p {
                        margin-top: 2%;
                    }
                }
            }
            .divider {
                @include flex-center;
                margin: 8% 0;
                img {
                    width: 25%;
                    height: auto;
                }
            }
            .message {
                font-family: $gothamLight-font;
                font-size: 13px;
                text-align: center;
            }

            .footer {
                margin: 10% 0 25%;
                @include flex-center;
                flex-direction: column;
                .studio {
                    font-family: $gotham-font;
                    font-weight: bold;
                    font-size: 11px;
                }
                .tagline {
                    font-family: $gothamLight-font;
                    font-size: 10px;
                }
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .top-img {
                h2 {
                    font-size: calc((55 / 500) * 100vw);
                }
            }

            .box-main {
                .subtitle {
                    font-family: calc((10 / 500) * 100vw);
                }
                .title {
                    font-size: calc((13 / 500) * 100vw);
                }
    
                .qr-block {
                    .qr {
                        img {
                            width: calc((100 / 500) * 100vw);
                        }
                    }
                    .bank-info {
                        font-size: calc((11 / 500) * 100vw);
                    }
                }
                .message {
                    font-size: calc((13 / 500) * 100vw);
                }
    
                .footer {
                    .studio {
                        font-size: calc((11 / 500) * 100vw);
                    }
                    .tagline {
                        font-size: calc((10 / 500) * 100vw);
                    }
                }
            }
        }
    }
}
  