@use "../variables" as *;
@use "../mixins" as *;

.rsvp {
    width: 100%;
    .content {
        width: 100%;
        font-family: $blushing-rose-font;
        font-weight: 300;
        line-height: 1.2;
        text-align: left;

        .top-img {
            width: 100%;
            aspect-ratio: 500 / 216;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.179), rgba(0, 0, 0, 0.526)), url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/tuan-huong/image_rsvp.webp') no-repeat center / cover;
            margin: 0 auto;
            display: flex;
            justify-content: end;
            align-items: end;

            h2 {
                font-size: 55px;
                font-family: $blushing-rose-font;
                font-weight: 300;
                text-transform: uppercase;
                color: #ffffff9d;
                margin-right: 4%;
            }
        }

        .box-form {
            width: 100%;
            background: url('../../assets/images/hoa1-07.png') no-repeat top left / 50%,
                        url('../../assets/images/rsvp_bg.png') no-repeat center / cover;
            padding: 5%;
            .header {
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                font-family: $gothamLight-font;
                .logo {
                    display: flex;
                    justify-content: end;
                    img {
                        width: 25%;
                    }
                }
                p {
                    font-size: 9px;
                    text-transform: uppercase;
                    margin-top: 5%;
                }
            }
            .divider {
                @include flex-center;
                margin: 8% 0;
                img {
                    width: 25%;
                    height: auto;
                }
            }
        }

        form {
            .form-group {
                margin-bottom: 5%;

                .question {
                    font-size: 15px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    text-align: center;
                }

                .question.chinese {
                    font-size: 16px;
                    font-family: 'kaiu', sans-serif;
                }

                input[type="text"],
                input[type="number"],
                textarea {
                    font-family: $gotham-font;
                    width: 100%;
                    padding: 2% 4%;
                    border: 2px solid $primary-color;
                    border-radius: 15px;
                    background: white;
                    font-size: 12px;
                    color: #000;
                    transition: border-color 0.3s ease;
                }

                input[type="text"].chinese,
                input[type="number"].chinese,
                textarea.chinese {
                    font-size: 16px;
                    font-family: 'kaiu', sans-serif;
                }

                input[type="text"]:focus,
                input[type="number"]:focus,
                textarea:focus {
                    outline: none;
                    // border-color:$title-color;;
                }

                textarea {
                    aspect-ratio: 500 / 100;
                    resize: vertical;
                    line-height: 1.5;
                    letter-spacing: .5px;
                }

                .attendance-buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 7%;
                    margin: 3% 0 5%;

                    .radio-wrapper {
                        position: relative;
                    }

                    .radio-wrapper input[type="radio"] {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }

                    .radio-label {
                        font-family: $gothamLight-font;
                        font-size: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 3%;
                        border: 2px solid $primary-color;
                        border-radius: 15px;
                        background: white;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        text-transform: uppercase;
                        text-align: center;
                        line-height: 1.5;
                        &:hover {
                            background: $primary-color;;
                        }
                    }

                    .radio-label.chinese {
                        font-size: 16px;
                        font-family: 'kaiu', sans-serif;
                    }

                    .radio-wrapper input[type="radio"]:checked + .radio-label {
                        background: $primary-color;
                        border: 2px solid $primary-color;
                        color: white;
                    }
                }

                .relation-buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }

            .submit-box {
                @include flex-center;
            }

            .submit-btn {
                width: 38%;
                padding: 2%;
                background: $primary-color;
                color: white;
                border: none;
                border-radius: 15px;
                font-weight: 600;
                font-size: 14px;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: background 0.3s ease;
                margin-bottom: 10%;
            }

            .submit-btn.chinese {
                font-size: 16px;
                font-family: 'kaiu', sans-serif;
            }
    
            .submit-btn:hover {
                background: rgb(189, 110, 133);
                opacity: 0.9;
            }
    
            .submit-btn:active {
                transform: scale(0.98);
            }

        }
    }

    @media (max-width: 500px) {
        .content {
            .header {
                .main-heading, .english-heading {
                    font-size: calc((25 / 500) * 100vw);
                }

                .main-heading.chinese {
                    font-size: calc((27 / 500) * 100vw);
                }
            }

            .info-notice {
                p {
                    font-size: calc((15 / 500) * 100vw);
                    letter-spacing: calc((1 / 500) * 100vw);
                }
                p.chinese {
                    font-size: calc((16/ 500) * 100vw);
                }
            } 

            .box-form {
                .header {
                    p {
                        font-size: calc((9 / 500) * 100vw);
                    }
                }
            }
    
            form {
                .form-group {
                    .question {
                        font-size: calc((15 / 500) * 100vw);
                        letter-spacing: calc((1 / 500) * 100vw);
                    }

                    input[type="text"],
                    input[type="number"],
                    textarea {
                        font-size: calc((12 / 500) * 100vw);
                    }

                    textarea {
                        font-size: calc((12/ 500) * 100vw);
                        letter-spacing: calc((0.5 / 500) * 100vw);
                    }

                    .attendance-buttons {
                        .radio-label {
                            font-size: calc((12/ 500) * 100vw);
                        }
                    }
                }
    
                .submit-btn {
                    font-size: calc((14 / 500) * 100vw);
                    letter-spacing: calc((1 / 500) * 100vw);
                }
            }
        }
    }
}
