@use "../variables" as *;
@use "../mixins" as *;

.wish {
    .content {
        width: 100%;
        .head {
            display: flex;
            justify-content: end;
            flex-direction: column;
            width: 100%;
            aspect-ratio: 500 / 232;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.135), rgba(0, 0, 0, 0.611)),
                        url('../../assets/images/image_02.webp') no-repeat center / cover;
            p.subtext {
                font-family: $gotham-font;
                font-size: 9px;
                text-transform: uppercase;
                text-align: start;
                color: white;
                padding: 3%;
            }
        }
        .body {
            background: url('../../assets/images/location_bg.png') no-repeat center / cover;
            padding: 10% 0;

            .logo {
                img {
                    width: 20%;
                    height: auto;
                }
            }
            .wish-list {
                .title {
                    font-family: $gotham-font;
                    font-size: 15px;
                    text-transform: uppercase;
                    margin-bottom: 5%;
                }

                .wish-slide {
                    .wish-card{
                        font-family: $gotham-font;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        text-align: center;

                        .wish-name {
                            font-weight: bold;
                            margin-top: 15%;
                        }

                        &.wish-empty {
                            span {
                                margin-top: 5%;
                            }
                        }
                    }
                }
            }

            .wish-action {
                @include flex-center;
                margin-top: 5%;
                .wish-btn {
                    display: block;
                    @include flex-center;
                    width: 35%;
                    padding: 2%;
                    background: $primary-color;
                    color: white;
                    border: none;
                    border-radius: 15px;
                    font-weight: 600;
                    font-size: 12px;
                    cursor: pointer;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    transition: background 0.3s ease;
                    margin-top: 3%;
                    text-decoration: none;
                    font-family: $gotham-font;
                }
            }

            .divider {
                margin: 10% 0;
                img {
                    width: 100px;
                    height: auto;
                }
            }

            .swiper {
                width: 100%;
                height: 100%;
            }
          
            .swiper-slide {
                width: 80%;
                min-height: 150px;
                text-align: center;
                font-size: 18px;
                background: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                padding: 2%;
                font-size: 12px;
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .head {
                p.subtext {
                    font-size: calc((9 / 500) * 100vw);
                }
            }
            .body {
                .wish-list {
                    .title {
                        font-size: calc((15 / 500) * 100vw);
                    }
                }
                .wish-action {
                    .wish-btn {
                        font-size: calc((12 / 500) * 100vw);
                        letter-spacing: calc((1 / 500) * 100vw);
                    }
                }
    
                .divider {
                    img {
                        width: calc((100 / 500) * 100vw);
                    }
                }
              
                .swiper-slide {
                    font-size: calc((12 / 500) * 100vw);
                }
            }
        }
    }
}
.swal2-html-container {
    padding-top: 5%;
}

div:where(.swal2-container) input:where(.swal2-input), 
div:where(.swal2-container) textarea:where(.swal2-textarea) {
    margin: 0 !important;
    font-size: 12px !important;
    width: 80% !important;
    margin-top: 2% !important;
    border: 1px solid $primary-color !important;
    border-radius: 8px !important;
}

div:where(.swal2-container) input:where(.swal2-input):focus, 
div:where(.swal2-container) input:where(.swal2-file):focus, 
div:where(.swal2-container) textarea:where(.swal2-textarea):focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: $primary-color !important;
}

div:where(.swal2-container) h2:where(.swal2-title) {
    color: $primary-color !important;
    font-family: $blushing-rose-font;
    font-size: 32px !important;
    font-weight: bold !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm){
    background-color: $primary-color !important;
    font-size: 14px !important;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel){
    font-size: 14px !important;
}

@media (max-width: 500px) {
    div:where(.swal2-container) input:where(.swal2-input), 
    div:where(.swal2-container) textarea:where(.swal2-textarea) {
        font-size: calc((12 / 500) * 100vw) !important;
    }

    div:where(.swal2-container) h2:where(.swal2-title) {
        font-size: calc((32 / 500) * 100vw) !important;
    }
    
    div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm),
    div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-cancel) {
        font-size: calc((14 / 500) * 100vw) !important;
    }
}