$shadow-default: 0 10px 30px rgba(0, 0, 0, 0.25);
$radius: 14px;

// Colors
$primary-color: #dc9ba8;
$bg-color: #ffeff2;
$font-size-base: 11px;

// Font
$gotham-font: 'SVN-Gotham', sans-serif;
$gothamBold-font: 'SVN-GothamBold', sans-serif;
$gothamLight-font: 'SVN-GothamLight', sans-serif;
$gothamBlack-font: 'SVN-GothamBlack', sans-serif;
$heavenly-font: 'SVNHeavenly', sans-serif;
$blushing-rose-font: '1FTVBlushingRose', sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
